@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

/* HTML
-------------------- */

html,
body {
	height: 100%;
}

body {
	font-size: 18px;
  background: url(../images/site/bg_grid.png);
  font-family: "PT Sans", sans-serif;
}

blockquote {
	padding-left: 1em;
	margin: 1em 0;
}

pre,
code {
	margin: 0;
	border: none;
}

ul,
li {
	line-height: 1.5em;
}

a:visited {
	color: #005580;
}

p {
	font-family: "Roboto Slab", serif;
	line-height: 1.5em;
}

/* Layout
-------------------- */

.site-wrapper {
	margin-left: 40px;
}

.site-header {
	padding-top: 40px;
}

	.site-header .site-logo {
		height: 120px;
		width: 80px;
		display: block;
  	background: url(../images/site/logo_large.png) no-repeat;
		background-size: 80px 120px;
	}

		.site-header h1 {
			margin-bottom: 0;
		}

.site-content {
	line-height: 1.5em;
	margin-top: 50px;
}

	.site-content article {
		margin-bottom: 25px;
		clear: both;
	}

				.site-content article header span {
					color: #999;
					margin-top: 1em;
					font-size: 14px;
				}

				.site-content article header h1 {
					font-size: 2em;
					margin-bottom: 0;
					margin-top: 0;
				}

				.site-content article header a {
					text-decoration: none;
				}

	/*.post-content {}*/

		.post-content h1 {
			font-size: 1em;
			line-height: normal;
			margin-bottom: 1em;
		}

		.post-content .highlight {
			margin-bottom: 1em;
		}

		.post-content p {
			margin-bottom: 1em;
		}

.site-footer {
	color: #999;
	padding-bottom: 50px;
}

/* Responsive
-------------------- */

@media (max-width: 767px) {

	.site-logo {
		margin-left: -40px;
		position: relative;
		left: 50%;
		margin-bottom: 50px;
	}

	.site-wrapper {
		margin-left: 0;
	}

	.site-header {
		margin-bottom: 0;
	}

	.site-content header .date {
		margin-top: 0;
	}
}