html,
body {
  height: 100%;
}

body {
  background: url(../images/site/bg_grid.png);
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

blockquote {
  margin: 1em 0;
  padding-left: 1em;
}

pre,
code {
  border: none;
  font-size: 14px;
  margin: 0;
}

pre {
  margin-bottom: 1em;
}

a:visited {
  color: #005580;
}

/* Line heights */
ul,
li,
p {
  line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Tahoma, sans-serif;
}

/* Layout
-------------------- */

.site-wrapper {}

.site-header {
  margin-top: 50px;
}

  .site-header .site-logo {
    background: url(../images/site/logo_large.png) no-repeat;
    background-size: 100%;
    display: block;
    height: 120px;
    width: 80px;
  }

  .site-header h1 {
    font-size: 2em;
    margin: 0 0 1em 0;
  }

.site-content {
  line-height: 1.5em;
  margin-top: 50px;
}

  .site-content article {
    clear: both;
    margin-bottom: 25px;
  }

    .site-content .post-date {
      margin-top: .7em;
    }

    .site-content h1 {
      font-size: 2em;
      margin: 0 0 .25em 0;
    }

    .site-content a {
      text-decoration: none;
    }

      .site-content a.site-icon {
        padding-right: 40px;
        background-position: right bottom;
        background-repeat: no-repeat;
      }

.post-date {
  color: #999;
}

  .post-date .long {
    display: inline;
  }

  .post-date .short {
    display: none;
  }

.post-content {
  margin-top: 1em;
}

  .post-content h1,
  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    font-size: 1em;
    font-weight: bold;
    line-height: normal;
    margin: 1em 0;
  }

  .post-content .highlight {
    margin-bottom: 1em;
  }

  .post-content p,
  .post-content ul {
    margin-bottom: 1em;
  }

  .post-content .twitter-tweet {
    margin: 1em 0 !important;
  }

.post-detail {}

  .post-detail .post-date {
    margin-top: 3em;
  }

  .post-detail .post-summary {
    font-style: italic;
  }

.site-footer {
  color: #999;
  padding-bottom: 50px;
}

/* Icons
-------------------- */

.site-icon {
  background-repeat: no-repeat;
  background-size: 2.75em;
  display: inline-block;
  height: .75em;
  width: .75em;
}

  .site-icon[data-site=modl] {
    background-image: url(/images/site/sites/modl_logo.png);
  }

  .site-icon[data-site=quickleft] {
    background-image: url(/images/site/sites/quickleft_logo.png);
  }

/* Responsive
-------------------- */

@media only screen and (max-width: 992px) {

  .post-date .long {
    display: none;
  }

  .post-date .short {
    display: inline;
  }

}

@media only screen and (max-width: 320px) {

  .site-header .site-logo {
    height: 240px;
    left: 50%;
    margin-bottom: 50px;
    margin-left: -80px;
    position: relative;
    width: 160px;
  }

  .site-content h1 {
    font-size: 1.5em;
    margin-top: 5px;
  }

  .site-header {
    margin-bottom: 0;
  }

  .site-content header .post-date {
    margin-top: 0;
  }

}

