html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  background: url(../images/site/bg_grid.png);
}

blockquote {
  margin: 1em 0;
  padding-left: 1em;
}

pre,
code {
  border: none;
  font-size: 14px;
  margin: 0;
}

pre {
  margin-bottom: 1em;
}

a:visited {
  color: #005580;
}

/* Line heights */
ul,
li,
p {
  line-height: 1.4em;
}

/* Layout
-------------------- */

.site-wrapper {}

.site-header {
  margin-top: 50px;
}

  .site-header .site-logo {
    background: url(../images/site/logo_large.png) no-repeat;
    background-size: 80px 120px;
    display: block;
    height: 120px;
    width: 80px;
  }

  .site-header h1 {
    font-size: 2em;
    margin: 0 0 1em 0;
  }

.site-content {
  line-height: 1.5em;
  margin-top: 50px;
}

  .site-content article {
    clear: both;
    margin-bottom: 25px;
  }

    .site-content article header .post-date {
      line-height: 3em;
    }

    .site-content article header h1 {
      font-size: 2em;
      margin-bottom: 0;
      margin-top: 0;
    }

    .site-content article header a {
      text-decoration: none;
    }

.post-date {
  color: #999;
}

.post-content {
  margin-top: 1em;
}

  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    margin-top: 2em;
  }

  .post-content h1 {
    font-size: 1em;
    line-height: normal;
    margin-bottom: 1em;
  }

  .post-content .highlight {
    margin-bottom: 1em;
  }

  .post-content p,
  .post-content ul {
    font-family: Palatino, Georgia, "Times New Roman", serif;
    margin-bottom: 1em;
  }

.post-detail {}

  .post-detail .post-date {
    margin-top: 3em;
  }

  .post-detail .post-summary {
    font-style: italic;
  }

.site-footer {
  color: #999;
  padding-bottom: 50px;
}

/* Icons
-------------------- */

.site-icon {
  background-repeat: no-repeat;
  background-size: 2.75em;
  display: inline-block;
  height: .75em;
  width: .75em;
}

  .site-icon[data-site=modl] {
    background-image: url(/images/site/sites/modl_logo.png);
  }

  .site-icon[data-site=quickleft] {
    background-image: url(/images/site/sites/quickleft_logo.png);
  }

/* Responsive
-------------------- */

@media (max-width: 767px) {

  .site-logo {
    left: 50%;
    margin-bottom: 50px;
    margin-left: -40px;
    position: relative;
  }

  .site-wrapper {
    margin-left: 0;
  }

  .site-header {
    margin-bottom: 0;
  }

  .site-content header .post-date {
    margin-top: 0;
  }

}
