      <footer class="site-footer">
        <ul class="social">
          <li>
            <a href="https://twitter.com/montlebalm/" class="fa fa-twitter"></a>
          </li>
          <li>
            <a href="https://www.flickr.com/photos/chrismontrois/" class="fa fa-flickr"></a>
          </li>
          <li>
            <a href="https://github.com/montlebalm" class="fa fa-github"></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/pub/chris-montrois/9/4b1/b4a/en" class="fa fa-linkedin"></a>
          </li>
          <li>
            <a href="mailto:chris@chrismontrois.net" class="fa fa-envelope-o"></a>
          </li>
        </ul>
        <span class="copy">Chris Montrois © 2009-{{ site.time | date:'%y' }}</span>
      </footer>
    </div>
    <script src="/scripts/ga.js"></script>
  </body>
</html>
