html,
body {
  height: 100%;
}
body {
  background: url(../images/site/bg_grid.png) center;
  color: #333;
}

.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.site-logo {
  background: url(../images/site/logo_large.png) no-repeat;
  background-size: 100%;
  display: block;
  height: 120px;
  width: 80px;
}
