html,
body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p,
code {
  line-height: 1.4rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

code {
  background: rgba(0, 0, 0, 0.04);
  font-size: 85%;
  padding: 3px;
}

header {
  margin: 0 0 3rem;
  text-align: center;
}

header h1 {
  margin-bottom: 2rem;
}

section {
  margin: 2rem 0;
}

.container {
  margin: 3rem auto;
  max-width: 550px;
  padding: 0 1rem;
  width: 100%;
}

.key,
.value {
  display: inline-block;
  float: left;
  margin: 0;
  width: 50%;
}

.clearfix {
  overflow: auto;
}

@media (max-width: 550px) {
  html,
  body {
    font-size: 18px;
  }

  .key,
  .value {
    width: 100%;
  }

  .key {
    margin-bottom: .5rem;
  }
}
