{% include header.html %}

	<div class="row">
		<header class="site-header post-detail col-md-2">
			<a href="/" accesskey="1" class="site-logo"></a>
      <p class="post-date">{{ page.date | date:"%d %b %Y" }}</p>
      <p class="post-summary">{{ page.summary }}</p>
		</header>
		<section class="site-content col-md-10">
			<article class="row">
		    <header class="col-md-10">
		      <h1>{{ page.title }}</h1>
		    </header>
		    <div class="post-content col-md-10">{{ content }}</div>
		  </article>
		</section>
	</div>

{% include footer.html %}
